/**/__pycache__
/.DS_Store
/Introduction to PyTorch/optimizing-model-parameters/data/*


Introduction to PyTorch/save-and-load-the-model/model_weights.pth
Introduction to PyTorch/save-and-load-the-model/model.pth
/**/venv/